/* Google icons */
.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

/* Center icons */
.material-symbols-outlined{
    vertical-align: middle;
    padding-right: 0.25em;
}

.card{
    position: relative;
    width: 30%;
}