/* Google icons */
.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

/* Center icons */
.material-symbols-outlined{
    vertical-align: middle;
    padding-right: 0.25em;
}

.card{
    position: relative;
    width: 30%;
    float: left;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

/* Make footer sticky */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* Genre list */
  .genre-list {
    float:left;
    position:static;
    width: 100%;
  }

  .hide {
    display: none;
  }
