<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Archivo+Narrow:wght@600&display=swap"
        rel="stylesheet">
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='media/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='media/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='media/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='media/favicon/site.webmanifest') }}">
    <title>Game Base</title>
</head>

<body>

    <h1 class="center-align">
        Uhoh...
    </h1>
    <h2 class="center-align">We can't seem to find the page you're looking for.</h3>
    <h6 class="center-align">Error code: 404</h6>

    <img id="game-over" src="../static/media/game-over.png" alt="Game Over">

    <h3 class="center-align">But don't worry. We've got you covered!
        <br>
        How about you open your GameBase to find your next gaming adventure?</h3>
        <hr>

        <div class="center-align s5 col">
            <a href="{{ url_for('get_games') }}" class="btn-large">
                Go To My GameBase</a>
            </div>

</body>

</html>