{% extends "base.html" %}
{% block content %}

<h3>Consoles</h3>

{% if session['user'] == admin_id %}
<p class="center-align">
    <a href="{{ url_for('add_console') }}" class="btn-large"><span class="material-symbols-outlined">Add</span>
        Add console</a>
</p>
{% endif %}

{% if consoles|length > 0 %}
<ul>
    {% for console in consoles %}
    <li>
        <p>{{ console.console_name }}
            {% if session['user'] == admin_id %}
            <a href="{{ url_for('edit_console', console_id=console._id) }}" class="waves-effect waves-green btn-flat">
                <span class="material-symbols-outlined">Edit</span>
            </a>
            <!-- <a href="{{ url_for('delete_console', _id=console._id) }}"
                class="waves-effect waves-red btn-flat"><span class="material-symbols-outlined">Delete</span>
            </a> -->
            <!-- Selection of delete game triggers modal -->
            <a href="#modal-{{ console._id }}" class="waves-effect waves-red btn-flat modal-trigger"><span class="material-symbols-outlined">Delete</span>
            </a>
        <!-- inject the modals partials-template -->
        {% include "partials/modals.html" %}
        {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="red-text text-darken-4 center-align">No consoles found. Please add consoles.</h3>
{% endif %}

<p><small>Current console list, please <a href="https://github.com/antonia-white/game-base/issues" target="_blank">contact the administrator</a> for alterations or additions</small></p>

{% endblock %}