{% extends "base.html" %}
{% block content %}

<h3>Edit Game</h3>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_game', game_id=game.id) }}">
        <!-- Title -->
        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="title" value="{{ game.title.title() }}" type="text" class="validate teal-text text-lighten-5" maxlength="50" required>
                <label for="title">Title</label>
            </div>
        </div>
        <!-- Developer -->
        <div class="row">
            <div class="input-field col s12">
                <input id="developer" name="developer" value="{{ game.developer.capitalize() }}" type="text" maxlength="50" class="validate teal-text text-lighten-5">
                <label for="developer">Developer</label>
            </div>
        </div>
        <!-- Genre -->
        <div class="row">
            <div class="input-field col s12">
                <select id="genre" name="genre">
                    <option value="" disabled selected>Choose the genre</option>
                    {% for genre in genres %}
                        {% if genre.id == game.genre_id %}
                            <option value="{{ genre.id }}" selected>{{ genre.genre_name }}</option>
                        {% else %}
                            <option value="{{ genre.id }}">{{ genre.genre_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Genre</label>
            </div>
        </div>
        <!-- Console -->
        <div class="row">
            <div class="input-field col s12">
                <select multiple id="console" name="console">
                    {% for console in consoles %}
                            <option value="{{ console.console_name }}">{{ console.console_name }}</option>
                    {% endfor %}
                </select>
                <label>Console</label>
            </div>
        </div>
        <!-- Release Date -->
        <div class="row">
            <div class="input-field col s12">
                <input id="release_date" name="release_date" type="text" value="{{ game.release_date }}" class="validate datepicker teal-text text-lighten-5" required>
                <label for="release_date"><span class="material-symbols-outlined">Event</span>Release date</label>
            </div>
        </div>
        <!-- Is Singleplayer -->
        <div class="row">
            <div class="input-field col s12">
                <label>
                    {% if game.is_singleplayer == True %}
                        <input id="is_singleplayer" name="is_singleplayer" type="checkbox" value="True" class="validate"
                        checked />
                    {% else %}
                        <input id="is_singleplayer" name="is_singleplayer" type="checkbox" value="True" class="validate">
                    {% endif %}
                    <span>The game is singleplayer </span>
                </label>
            </div>
        </div>
        <!-- Image URL -->
        <div class="row">
            <div class="input-field col s12">
                <input id="image_url" name="image_url" value="{{ game.image_url }}" type="url" class="validate teal-text text-lighten-5">
                <label for="image_url"><span class="material-symbols-outlined">Link</span>Image URL</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}