{% extends "base.html" %}
{% block content %}

<h3>Edit {{console.console_name }} Console</h3>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_console', console_id=console._id) }}">
        <!-- Name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="console_name" name="console_name" type="text" class="validate teal-text text-lighten-5" maxlength="50" required>
                <label for="console_name">New console name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large">
                    Update console
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}