{% extends "base.html" %}
{% block content %}

<h3> Your Games </h3>

<p class="center-align">
    <a href="{{ url_for('add_game') }}" class="btn-large"><span class="material-symbols-outlined">Add</span>
        Add games</a>
</p>

<!-- Check there is at least 1 game in db -->
{% if games|length > 0 %}

<!-- Create empty list -->
{% set list = [] %}

    {% for game in games %}

        <!-- Only display games that match with the user id -->
        {% if game.user_id == session["user"] %}

            <!-- Add a value to the list, jinja prints so hide this, if no games meet criteria nothing is in list - line 67 -->
            <div class="hide">
            {{ list.append ("1") }}
            </div>

                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <!-- have default image display if no img url is provided by user -->
                        {% if game.image_url == "" %}
                        <img class="activator" alt="no image displayed" src="{{ url_for('static', filename = 'media/' +'no-image.jpg') }}">
                        {% else %}
                        <img src="{{ game.image_url }}" alt="{{ game.title }} image" class="activator" onError="this.onerror=null;this.src='{{ url_for('static', filename='media/' +'no-image.jpg') }}';">
                        <!-- <img class="activator" alt="{{ game.title }} image" src="{{ game.image_url }}"> -->
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ game.title.title() }}<i
                                class="material-symbols-outlined right">more_vert</i></span>
                        <p><a href="{{ url_for('edit_game', game_id=game.id) }}" class="btn green accent-4">
                                <span class="material-symbols-outlined">Edit</span>
                                Edit</a>
                                <!-- TODO: -->
                                <!-- Have ref trigger a modal/pop up -->
                                <!-- Have this ref in a button in a modal -->
                                <!-- Modal id must be unique id id="modal-{{game.id}}" -->
                            <a href="{{ url_for('delete_game', game_id=game.id) }}" class="btn red"><span
                                    class="material-symbols-outlined">Delete</span>
                                Delete</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ game.title.title() }}<i
                                class="material-symbols-outlined right">close</i></span>
                        <p>Developer: {{ game.developer.capitalize() }}</p>
                        {% for genre in genres %}
                        {% if game.genre_id == genre.id %}
                        <p>Genre: {{ genre.genre_name }}</p>
                        {% endif %}
                        {% endfor %}
                        <p>Console: {{ game.console }}</p>
                        <p>Release date: {{ game.release_date }}</p>
                        <p>Singleplayer: {{ game.is_singleplayer }}</p>
                    </div>
                </div>
                
        {% endif %}
        
    {% endfor %}


    <!-- If there is less than 1 value in list, display -->
    {% if 1 > list|length %}
    <h3 class="red-text text-darken-4 center-align">Nothing to see here...</h3>
    {% endif %}

<!-- Display if there's no games in the database -->
{% else %}

<h3 class="red-text text-darken-4 center-align">Nothing to see here...</h3>

{% endif %}

{% endblock %}
