{% extends "base.html" %}
{% block content %}

<h3> Your Games </h3>

<p class="center-align">
    <a href="{{ url_for('add_game') }}" class="btn-large"><span class="material-symbols-outlined">Add</span>
        Add games</a>
</p>

{% if games|length > 0 %}

{% for game in games %}

<!-- Only display games that match with the user id -->
{% if game.user_id == session["user"] %}
<div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
        <!-- have default image display if no img url is provided by user -->
        {% if game.image_url == "" %}
        <img class="activator" src="{{ url_for('static', filename = 'media/' +'no-image.jpg') }}">
        {% else %}
        <img class="activator" src="{{ game.image_url }}">
        {% endif %}
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ game.title.title() }}<i
                class="material-symbols-outlined right">more_vert</i></span>
        <p><a href="{{ url_for('edit_game', game_id=game.id) }}" class="btn green accent-4">
            <span class="material-symbols-outlined">Edit</span>
                Edit</a>
        <a href="{{ url_for('delete_game', game_id=game.id) }}" class="btn red"><span class="material-symbols-outlined">Delete</span>
            Delete</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ game.title.title() }}<i class="material-symbols-outlined right">close</i></span>
        <p>Developer: {{ game.developer.capitalize() }}</p>
        {% for genre in genres %}
            {% if game.genre_id == genre.id %}
                <p>Genre: {{ genre.genre_name }}</p>
            {% endif %}
        {% endfor %}
        <p>Console: {{ game.console }}</p>
        <p>Release date: {{ game.release_date }}</p>
        <p>Singleplayer: {{ game.is_singleplayer }}</p>
    </div>
</div>

{% endif %}
{% endfor %}

{% else %}
<h3 class="red-text text-darken-4 center-align">Nothing to see here...</h3>
{% endif %}

{% endblock %}