{% extends "base.html" %}
{% block content %}

<h3>Genres</h3>

<!-- Hide admin functionality for non-admin users -->
{% if session['user'] == admin_id %}
<p class="center-align">
    <a href="{{ url_for('add_genre') }}" class="btn-large"><span class="material-symbols-outlined">Add</span>
        Add genre</a>
</p>
{% endif %}

{% if genres|length > 0 %}

{% for genre in genres %}
<ul>
    <li class="genre-list">
        <h4>{{ genre.genre_name }}
            <!-- Hide admin functionality for non-admin users -->
            {% if session['user'] == admin_id %}
            <a href="{{ url_for('edit_genre', genre_id=genre.id) }}" class="waves-effect waves-green btn-flat">
                <span class="material-symbols-outlined">Edit</span>
            </a>
            <!-- Selection of delete game triggers modal -->
            <a href="#modal-{{ genre.id }}" class="waves-effect waves-red btn-flat modal-trigger"><span class="material-symbols-outlined">Delete</span>
                </a>
            <!-- inject the modals partials-template -->
            {% include "partials/modals.html" %}
            {% endif %}
        </h4>

        {% for game in games %}
        {% if game.genre_id == genre.id %}
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <!-- have default image display if no img url is provided by user -->
                {% if game.image_url == "" %}
                <img class="activator" src="{{ url_for('static', filename = 'media/' +'no-image.jpg') }}">
                {% else %}
                <img class="activator" src="{{ game.image_url }}">
                {% endif %}
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ game.title.title() }}<i
                        class="material-symbols-outlined right">more_vert</i></span>
                <p><a href="{{ url_for('edit_game', game_id=game.id) }}" class="btn green accent-4">
                        <span class="material-symbols-outlined">Edit</span>
                        Edit</a>
                    <a href="{{ url_for('delete_game', game_id=game.id) }}" class="btn red"><span
                            class="material-symbols-outlined">Delete</span>
                        Delete</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ game.title.title() }}<i
                        class="material-symbols-outlined right">close</i></span>
                <p>Developer: {{ game.developer.capitalize() }}</p>
                {% for genre in genres %}
                {% if game.genre_id == genre.id %}
                <p>Genre: {{ genre.genre_name }}</p>
                {% endif %}
                {% endfor %}
                <p>Console: {{ game.console }}</p>
                <p>Release date: {{ game.release_date }}</p>
                <p>Singleplayer: {{ game.is_singleplayer }}</p>
            </div>
        </div>

        {% endif %}
        {% endfor %}
        <br>
    </li>
</ul>

{% endfor %}

{% else %}
<h3 class="red-text text-darken-4 center-align">Nothing to see here...</h3>
{% endif %}

<p><small>Current genre list, please <a href="https://github.com/antonia-white/game-base/issues" target="_blank">contact the
            administrator</a> for alterations or additions</small></p>

{% endblock %}