{% extends "base.html" %}
{% block content %}

<h3>Login</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- First Name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Login -->
            <div class="row">
                <button type="submit" class="col s12 btn-large">Login</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}