{% extends "base.html" %}

<!-- Hides logout button -->
{% block styles %}
    <style>
        .logout-btn {display: none;}
    </style>
{% endblock %}

{% block content %}

<h3>Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- First Name -->
            <div class="row">
                <div class="input-field col s6">
                    <input id="fname" name="fname" type="text" class="validate" required>
                    <label for="fname">First Name</label>
                </div>
                <!-- Last Name -->
                <div class="input-field col s6">
                    <input id="lname" name="lname" type="text" class="validate">
                    <label for="lname">Last Name</label>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email"><span class="material-symbols-outlined">Mail</span>Email</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password"><span class="material-symbols-outlined">Lock</span>Password</label>
                </div>
            </div>
            <!-- Register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large">Register</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}